@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);

@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


* {
  @include box-sizing(border-box);
}

html {
  background: black;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: White;
  font-smoothing: antialiased;
  font-weight: 600;
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0; bottom: 0;
  z-index: -1;

  display: block;
  background-color: black;
  background-image: url('https://post.healthline.com/wp-content/uploads/2020/09/11008-Parkinsons_Disease_1200x628-facebook-1200x628.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;

  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 540px;
  height: 540px;

  background-color: rgba(10, 10, 10, 0.5);
  margin: auto auto;
  padding: 40px;
  text-align: center;

  @include border-radius(4px);
  @include box-shadow(0 0 10px rgba(0,0,0,1));
 }

h1 {

    text-align: center;
    font-size: 2.0rem;
    font-weight: 600;
    color: White;
    padding-bottom: 30px;

}

input {
    width: 80%;
    font-size: 1.2rem;
    font-family: "Open Sans";

    margin: 10px 0px;

    border: none;
    padding: 10px;

    @include border-radius(4px);

}

button {
    width: 80%;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 0px;

    background-color: #66A756;
    color: White;
    border: none;
    border-radius: 25px
    @include border-radius(4px);
}




