<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Parkinson's Diseases Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div class="content">
        <h1>Parkinson's Diseases Prediction</h1>
        <!--<div class="flex-form">-->
            <form action="/predict" method="POST">
                <input type="float" name="mdvp_fo" id="mdvp_fo" placeholder="MDVP:Fo(Hz) range(88,260)">
                <input type="float" name="mdvp_fhi" id="mdvp_fhi" placeholder="MDVP:Fhi(Hz) range(102,592)">
                <input type="float" name="mdvp_flo" id="mdvp_flo" placeholder="MDVP:Flo(Hz) range(65,240)">
                <input type="float" name="mdvp_jitper" id="mdvp_jitper" placeholder="MDVP:Jitter(%) range(0.001, 0.033)">
                <input type="float" name="mdvp_jitabs" id="mdvp_jitabs" placeholder="MDVP:Jitter(Abs) range(0.00002, 0.0002)">
                <input type="float" name="mdvp_rap" id="mdvp_rap" placeholder="MDVP:RAP range(0.0006, 0.02)">
                <input type="float" name="mdvp_ppq" id="mdvp_ppq" placeholder="MDVP:PPQ range(0.0009, 0.02)">
                <input type="float" name="jitter_ddp" id="jitter_ddp" placeholder="Jitter:DDP range(0.002, 0.065)">
                <input type="float" name="mdvp_shim" id="mdvp_shim" placeholder="MDVP:Shimmer range(0.009, 0.12)">
                <input type="float" name="mdvp_shim_db" id="mdvp_shim_db" placeholder="MDVP:Shimmer(dB) range(0.085, 1.302)">
                <input type="float" name="shimm_apq3" id="shimm_apq3" placeholder="Shimmer:APQ3 range(0.004, 0.056)">
                <input type="float" name="shimm_apq5" id="shimm_apq5" placeholder="Shimmer:APQ5 range(0.005, 0.08)">
                <input type="float" name="mdvp_apq" id="mdvp_apq" placeholder="MDVP:APQ range(0.007, 0.14)">
                <input type="float" name="shimm_dda" id="shimm_dda" placeholder="Shimmer:DDA range(0.013, 0.17)">
                <input type="float" name="nhr" id="nhr" placeholder="NHR range(0.0006, 0.31)">
                <input type="float" name="hnr" id="hnr" placeholder="HNR range(8, 33)">
                <input type="float" name="rpde" id="rpde" placeholder="RPDE range(0.25, 0.68)">
                <input type="float" name="dfa" id="dfa" placeholder="DFA range(0.57, 0.82)">
                <input type="float" name="spread1" id="spread1" placeholder="Spread1 range(-7, -2)">
                <input type="float" name="spread2" id="spread2" placeholder="Spread2 range(0.006, 0.45)">
                <input type="float" name="d2" id="d2" placeholder="D2 range(1.42, 3.67)">
                <input type="float" name="ppe" id="ppe" placeholder="PPE range(0.04, 0.5)">
                
                <button type="submit" value="Predict">Predict</button>
            </form>
        <!--</div>-->
    </div>
</body>
</html>